footer {
    padding-top: 120px;

    .footer_top {
        padding-bottom: 50px;

        .container {
            .footer_list {
                .item {
                    h5 {
                        @include text($fs-l, $fw-7, $lh-48, $c-dark);
                    }

                    .item-body {
                        display: flex;
                        flex-direction: column;


                        a {
                            margin: 5px 0;
                            @include text($fs-s, $fw-3, $lh-24, $c-dark);

                        }
                    }

                    p {
                        margin: 5px 0;

                        @include text($fs-s, $fw-3, $lh-24, $c-dark);

                    }

                    .style_red {
                        @include text($fs-m, $fw-7, $lh-36, $c-red);
                    }
                }

                .item-br {
                    border-top-style: none;
                    border-right-style: solid;
                    border-bottom-style: none;
                    border-left-style: solid;
                    border-color: #eaebebb3;
                }
            }
        }
    }

    .footer_bottom {
        background-color: $bg-gray-c;
        padding: 20px 0;

        .container {
            .footer_list {
                .item {
                    h5 {
                        @include text($fs-l, $fw-7, $lh-48, $c-dark);

                    }

                    p {
                        @include text($fs-s, $fw-3, $lh-24, $c-dark);

                    }

                    a {
                        @include text($fs-m, $fw-7, $lh-36, $c-red);

                    }
                }

                .item-br {
                    border-top-style: none;
                    border-right-style: solid;
                    border-bottom-style: none;
                    border-left-style: solid;
                    border-color: #eaebebb3;
                }
            }
        }
    }
}