.card {
    max-height: 600px;

    img {
        position: relative;
    }

    .feature {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.1);
    }

    .feature_like {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 30px;
        color: red;
    }

    .card-body {
        h3 {
            @include text($fs-l, $fw-3, $lh-29, $c-dark)
        }

        p {
            @include text($fs-m, $fw-3, $lh-24, $c-gray-cb)
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $bg-gray-c;

            a {
                width: 50%;
                @include button($fs-l, $fw-4, $lh-29, $c-dark, $bg-yew, 10px, none, none, $c-white, $c-dark);
            }

            p {
                margin: 0;
                width: 50%;
                text-align: center;
                @include text($fs-l, $fw-6, $lh-29, $c-dark);

            }
        }
    }
}