// text
@mixin text ($fs: $fs-m, $fw: $fw-3, $lh: $lh-24, $c: $c-dark) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}

// button
@mixin button($fs, $fw, $lh, $c, $bg, $pd, $bd, $br, $bg-hover, $c-hover) {
    @include text($fs, $fw , $lh, $c );
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius: $br;

    &:hover {
        background: $bg-hover;
        color: $c-hover;
    }
}