//Khai báo biến
// font size
$fs-s :16px;
$fs-m :20px;
$fs-l :24px;
$fs-xl :30px;
$fs-2xl :40px;

//font-weight
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

//line height
$lh-19: 19.36px;
$lh-24: 24.2px;
$lh-29: 29.05px;
$lh-36: 36.31px;
$lh-48: 48.41px;


//color
$c-white: #fff;
$c-dark: #000;
$c-1e: #1ED90E;
$c-red: #FC0303;
$c-gray-cb: #CBC9C9;
// bg

$bg-blue: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-pupble: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
$bg-yew: #E1B067;
$bg-white-f5: #f5f5f5;
$bg-white-f8: #f8f8f8;
$bg-gray-c: #CCCCCC;
$bg-pupble-ae: #AE18E2;